<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<add name="cadena_conexion" connectionString="Data Source=JAALVAREZ\SQLEXPRESS01;Initial Catalog=SistemaGestion;Integrated Security=True;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>